main
  display: flex
  flex-direction: column
  align-items: center
  padding: 20px

  section
    width: 100%

    article
      display: flex
      flex-direction: column
      align-items: center

      .titulosH1
        font-size: 2em
        margin-bottom: 10px

      .textoSobreLaCafeteria
        font-size: 1.2em
        text-align: center
        margin-bottom: 20px

      iframe
        width: 100%
        height: auto
        max-width: 560px
        max-height: 315px
        margin-bottom: 20px

      // Ocultar imágenes en la versión móvil
      img
        display: none

@media (min-width: 768px)
  main
    padding: 40px

    section
      article
        // Mostrar imágenes en la versión de PC
        img
          display: block
          max-width: 100%
          margin-bottom: 20px